*{
    font-size: 25px;
}

body, html {
    height: 100%;
     margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
}

form{                     
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;              
    background-color: aqua;                          
    width: 300px;                     
    padding: 20px;                    
    border-radius: 8px;
}

.output{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}